body {
    background-color: navy; 
}

.box {background-color: rgb(182, 182, 182);
        }

h1 {background-color: black; color: white;}


div {
    background-color:rgb(182, 182, 182);
    border: 15px solid #000000;
    padding: 50px;
    margin: 20px;
}

h3{background-color: rgb(182, 182, 182);}